@model PracticaIntegradora.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h1>Crear un Producto</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Imagen</label>
                <br />
                <img src="/img/general2.png" id="img" style="width:80px; height:80px;" />
                <input type="file" id="imgInput" accept=".png" style="display: none;" />
                <input asp-for="Imagen" value="/img/general2.png" class="form-control" id="rutaImg" style="display: none;" />
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioCadena" class="control-label"></label>
                <input asp-for="PrecioCadena" class="form-control" />
                <span asp-validation-for="PrecioCadena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Escaparate" class="control-label"></label>
                <select asp-for="Escaparate" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="Escaparate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Instalador</label>
                <br />
                <input type="file" id="fileInput" accept=".exe"/>
                <input asp-for="instalador" class="form-control" id="file" style="display: none;" />
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    document.getElementById("fileInput").addEventListener("change", event => {
        let file = event.target.files[0];
        if (file)
            document.getElementById("file").value = "/downloads/" + file.name;
    });

    document.getElementById("img").addEventListener("click", () => {
        document.getElementById("imgInput").click();
    });

    document.getElementById("imgInput").addEventListener("change", event => {
        let file = event.target.files[0];
        if (file) {
            document.getElementById("rutaImg").value = "/img/" + file.name;
            document.getElementById("img").src = "/img/" + file.name;
        }
    });
</script>