@model IEnumerable<PracticaIntegradora.Models.ViewUsuarioConRol>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuarios</h1>

<br />

<p>
    <a asp-action="Create">Nuevo Administrador</a>
</p>

<form asp-action="Index">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md">
                <label class="control-label">Nombre usuario:</label>
                <input type="text" name="strCadenaBusqueda"
                       value="@ViewData["BusquedaActual"]" class="form-control" />
            </div>
            <div class="col-md align-self-end">
                <input type="submit" value="Buscar" class="btn btn-default" /> |
                <a asp-action="Index" class="btn btn-default">Lista completa</a>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            Nombre de Usuario
        </th>
        <th>
            Rol
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelIdtem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelIdtem => item.RolDeUsuario)
            </td>
        </tr>
    }
</table>