body {
    text-align: center;
}

#contenedor {
    display: grid
}

table {
    align-self: center;
    justify-self: center
}

.columna1 {
    text-align: right;
    padding-right: 15px;
}

.columna2 {
    text-align: left;
    padding-left: 15px;
}