body {
    margin: 0%;
    text-align:  center;
    background-color: black;
}

.cavecera {
    margin: 0%;
    padding: 0%;
    width: 100%;
    color: white;
}

i {
    font-size: 90px;
}

p {
    margin: 0%;
}

.columna1 {
    background-color: aqua;
    border-radius: 20px 0 0 0;
    width: 35%;
    height: 100vh;
    margin: 0 0 0 15%;
    float: left;
}

.apartados1 {
    margin: 8% 42.5% 3% 42.5%;
    background-color: white;
    border-radius: 10px;
    width: 15%;
}

.columna2 {
    background-color: white;
    border-radius: 0 20px 0 0;
    width: 35%;
    height: 100vh;
    margin: 0 15% 0 0;
    float: left;
}

.nombre {
    font-size: 40px;
}

.titulo {
    font-size: 30px;
}

.apartados2 {
    margin: 6% 42.5% 3% 42.5%;
    background-color: aqua;
    border-radius: 10px;
    width: 15%;
}


img {
    width: 27%;
    height: 20%;
    margin: 6% 0 2% 0;
    border-radius: 10px;
}

hr {
    width: 33%;
}


ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}
  
ul li {
    display: inline; 
    margin: 0% 10px; 
}

.contenido {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding: 10px;
    border: solid 2px;
    border-radius: 0 10px 0 10px;
    text-align: justify;
}