
h1 {
    text-align: center;
}

#contenedor {
    background-color: aqua;
    border: 1px solid blue;
    float: left;
}

#texto {
    float: left;
    text-align: right;
    margin-right: 3px;
}

#formulario {
    float: left;
    text-align: left;
    margin-left: 3px;
}

input {
    margin-top: 5%;
    /*margin-bottom: 1%;*/
}